@use "../abstracts/" as *;

body {
  line-height: $body-line-height;
  font-family: $body-family-base;
  font-weight: $body-font-weight;
  font-size: $body-font-size;
  color: $body-text-color;
}

a {
  color: $link-color;
}

a:is(:hover, :focus) {
  color: $link-color-hover;
}
